<div class="container">
  <%= link_to "Log out", logout_path %>
  <p class="navbar-text navbar-right">Hello ADMIN</p>
</div>

<% @user.each do | users | %>
    <% if users.id != 1%>
        <h3><p><%= users.username %></p><%= link_to "Remove user", admins_path(id: users.id), method: :delete, data: {confirm: "Are you sure you want to remove the user?"}%></h3>
        <table>
          <tr>
            <td>Device</td>
            <td>Key</td>
            <td>Action</td>
          </tr>
          <% users.apikeys.each do | apikeys | %>
              <tr>
                <td><%= apikeys.device %></td>
                <td><%= apikeys.key %></td>
                <td><%= link_to "Revoke key", apikey_path(apikeys.id), method: :delete, data: { confirm: "Are you sure you want to revoke the device/key?" }%></td>
              </tr>
          <% end %>
        </table>
    <% end %>
<% end %>